{{#link-to 'why.responsive-web-design' class="hero-container"}}
  <div class="bg1">
    <div data-logo-id="r2" class="overlay">
      <h1>Responsive Web Design</h1>
    </div>
  </div>
{{/link-to}}
<h1> Design That Adapts to All Screensizes</h1>
