
  <h2 class="center">Overview</h2>
  <p>The world wide web is undoubtedly the worlds most significant technological invention of the last 50 years.
    Its place in history will be alongside electricity and the automobile.  Proof of this can be seen everywhere
    you go, especially if you find yourself anywhere near american millennials <img>We at eWebdesign believe the
    products and services that have consumed  attentions of millions to date fail
    to live up to the true potential this immaculate innovation has enabled.  Enter Javascript Frameworks and
    <a>Single Page Applications</a>.  </p>

  <p>Soon the idea of staring at a blank white screen for 2-3 seconds upon first visiting a webpage as well as
    subsequent page views will be intolerable.  Emerging technologies antiquate the incumbents at an ever
    increasing speed of adaptation.   Single Page Applications, Javascript frameworks that create them and
    Fiberoptic internet connections that facilitate them will quickly become the new standard.  This will bring
    in a new generation of real-time connectedness the world has never seen.</p>

  <p>The implications can be debated but few can argue the merits of the new kid on the block. What few 'cons' that
  server rendered web-page proponents are dissapearing by the day <a>Fastboot</a>.   With such explosive
   technology at our fingertips, productively investigating the leading Javascript Frameworks seems
    like a worthwhile conversation to have.  </p>
  <h2>Current Conteders</h2>
  <a>Emberjs</a>
  <a>AngularJS</a>
  <a>KnockoutJS</a>
  <a>BackboneJS</a>
  <a>ReactJS</a>

  <h2>Grading Criteria is as follows</h2>
  <p>Strengths, Weaknesses, Guides + Ramp-up Support are self explanatory and value intuitive.
  Vision & Innovation, Current Offering & the stability of its offering, Ease of Collaboration,
  Current Integration ability and Staying power round out the criteria.  For the purpose of simplicity,
  we'll apply an even distribution of significance to each as they all play an important role.</p>

  <h2>Disclaimers</h2>
  <p>The conclusions reached throughout this investigation have no intentions of starting a 'flame-war'.
    They are merely a reflection of the experiences of our team at eWebDesign.</p>


{{#link-to 'javascript-frameworks.emberjs' class="button-bar button"}}<i class="icon ion-star"></i>emberjs{{/link-to}}
