    <h1>EmberJS</h1>

{{#link-to 'javascript-frameworks.emberjs.htmlbars'}}HTMLBars{{/link-to}}
{{#link-to 'javascript-frameworks.emberjs.fastboot'}}Fastboot{{/link-to}}

<h3>Origin</h3> <p>- yaheuda; sproutcore; Rails influenced</p>
<h3>Philosophy</h3><p>Convention over configuration; no monopoly on good ideas</p>
<h3>Resources</h3>
<p>
  <a href='http://emberweekly.com'>Ember Weekly</a>,
  <a href='http://discuss.emberjs.com'>Ember Forum</a>,
  <a href='http://emberaddons.com'>Ember Addons</a>,
  <a href='http://emberobserver.com'>Ember Observer</a>,
  <a href='http://www.reddit.com/r/emberjs/'>Ember Reddit</a>
</p>
<h3>Companies</h3> <p>- Yahoo, LinkedIn, Groupon, Netflix</p>
<h3>Htmlbars</h3> <p> - Matt Beale & 201Created</p>
<h3>Rockstars</h3> <p>- Yaheuda, Tom Dale, Matt Beale, Luke Melia, Robert Jackson, Stefan Penner, Erik Bryn, Adolfo Biles, Martin Genev,</p>
<h3>Community</h3> <p>- A very deep bench of talent to round it off</p>
<h3>Ember-Cli</h3>
<h3>Weakness</h3><p> - Documentation & depth of supporting guides; Always seem to be waiting</p>

<h2>Ember2.0 - Data Down Actions Up; Stability without stagnation</h2>
<h3>Overview</h3>
<p>Emberjs is a fascinating javascript framework for a variety of reasons.  While they're far from perfect,
  all things considered are undeniably a rock solid choice to build your application on.  The areas they fall-short
  are currently under renovation and in the scheme of things can be viewed as short term inconveniences.

Emberjs is on their game in a very strong way.  They pioneered the industry leading router and shamelessly
cherry-picked the best characteristics of other frameworks.  “we don't claim to have a monopoly on good ideas” - Tom Dale

Considering we're talking about open-source software that by nature allows for such behavior it's hard to hate
(unless you're a disgruntled competitor who just watched their main advantage dissapear in a few short months cough cough*  react>.

Origin: Ember was founded in 2011 by Yaheuda Katz and is currently co-authored by Tom Dale.

Influence:  Admittedly, ember received a healthy influence by the popular <a href='http://rubyonrails.org/'>Ruby on Rails Project.</a>
And Yaheduas time spent working on the sproutcore team.</p>

<h2>Punchlines</h2>
<p>-A framework for creating ambitious web applications
-Stability without stagnation;
-Data Down Actions Up</p>

<h2>Strengths</h2>
<p>1. Vision / Innovation
2. Community
3. Staying Power & Customers
4. Router
5. Intangibles</p>

<h2>Weaknesses</h2>
<p>1. Guides & Onboarding Resources
2. API stability</p>


<h3>Vision = 5</h3>

<h3>Innovation = 5</h3>

<h3>Guides / Support = 1</h3>
<p>1. lack of depth of teaching resources
2. Seemingly 1000 articles saying the same 5 things, showing how to build the same 3 apps.
3. Incongruence between the Marketing Motto “ambitious applications” and much unpaid support in helping you reach those goals
4. Lack of consideration of greenfield developers with no CSE background.  Significant pre-requisite javascript/coding/Ruby on Rails
background is almost a requirement //insert image?</p>
<h3>Software Stability = 2</h3>
<p>Conventions; Here today, outdated tomorrow.  The tale of a never-ending moving target.  The trade-off with constantly progressing
software is the reality that things must change to improve.  The current reality of staying on-top of Emberjs is that its a full-time
job. Like guides/support, i'd rather have the limited resources spent on building the best damn software ever and worry about the docs
/ guides once things have settled down + stabilized. Forgiveness does not take way from the degree of frustration many have felt over
the years with topics like Ember-Datas Forever-Beta and HTMLBars.  Their tardiness record that will make ferris bueller appear punctual.</p>
<h3>Integrations = 3</h3>
<p>	Day by day more players in the software community are making sure their products integrate with ember.  That said, most/many still
  lead with an Angular integration (Ionic, Foundation) with Ember as an afterthought.  That should change soon, but currently
  integrations have room to improve.</p>
<h3>Community = 5</h3>
<p>Ember has a high quality community and the overall theme of the community is helpful, talented and passionate about open source
software.  The official core-team has exceptional core-team talent such as – Yaheuda, Tom Dale, Matt Beale, Luke Melia, Robert Jackson,
 Stefan Penner, Erik Bryn, Edward Faulkner, Toran Billups, Trek Glowacki, Peter Wagenet, Leah Silber, Alex Matchneer and Kris Selden.
  Contributions from the likes of Martin Genev, Adolfo Biles, Lauren Tan, Godfrey Chan, Taras Mankowski cannot be understimated.</p>
<h3>Staying Power = 5</h3>
<p>	Many Powerful and trusted companies that advocate using Emberjs include Yahoo, LinkedIn, Groupon, Netflix, Bustle and Mozilla.
  Their investments financially as well as internally should ensure Ember will be around at least a few years.</p>

<h3>Intangibles = 5</h3>
1. Ember-CLI – Command Line Interface tool used to quickly scaffold all necessary ingredients to begin prompt front-end JS-framework
web app design. Fully equipped w/ Broccoli; a build pipeline & consistent (sorta) project structure to keep teams on the same page.
2. Fastboot - Emberjs response to twitters server-side rendering initial loading technology.
3. Glimmer Emberjs response to Reacts revolutionary Dom Diffing rendering Engine
4. David amidst Goliaths – as fun as it is rooting on the brain-child of the worlds largest multinational corporations.. nevermind.

<h3>Resources = 4</h3>

<a href='http://emberjs.com'>EmberJS</a>
<a href='http://ember-cli.com'>Ember-CLI</a>
<a href='http://emberaddons.com'>Ember Addons</a>
<a href='http://discuss.emberjs.com'>Ember Forum</a>
<a href='http://emberweekly.com'>Ember Weekly</a>
<a href='http://emberobserver.com'>Ember Observer</a>
<a href='http://emberweekend.com'>Ember Weekend</a>

<h3>Trending = Up!</h3>
<p>	Between Angulars recent announcement for their 2.0 to not be backwards compatible, many are switching.  React lacks full coverage
  and hasn't demonstrated exceptional vision for where the web is headed and with the glimmer release, their comparative advantage
  should diminish.  Much of the low scores are based on a current offering.  Alot of the talk & plans out of Emberville have
  discussed addressing almost all of their shortcomings.  When they do, we'll keep the ratings updated.  It's a very exciting time
  to be an Ember Developer!</p>

<h3>Next Big Thing:  Ember 2.0</h3>
<p>	-Ember-cli-deploy
	-Glimmer & Dom Diffing
	-Ember-Data 1.0
	-Liquid Fire 1.0 (animations)
	-Fastboot
	-Routeable Components
	-Pod structured projects
	-Engines
	-Dramatic simplification
      </p>
<div class="left-button">
  {{#link-to 'javascript-frameworks.emberjs.htmlbars' class="button-bar button"}}HTMLBars{{/link-to}}
</div>
<div class="right-button">
  {{#link-to 'javascript-frameworks.emberjs.fastboot' class="button-bar button"}}Fastboot{{/link-to}}
</div>

<a href='http://emberjs.com'>Ember</a>
<a href='http://ember-cli.com'>Ember-CLI</a>
<a href='http://emberjs.com/blog/2014/12/22/inside-fastboot-the-road-to-server-side-rendering.html'>Fastboot</a>
{{outlet}}
