<h1>HTMLBars</h1>

<h2>What is it?</h2>
<p>  -a new templating library built on top of handlebars that aims to set the gold-standard
  for templating libraries
-Acronym: HTML + handlebars = HTMLbars.</p>

<h2>Who Built it?</h2>
<p>  -Matt Beale, Stefan Penner, Erik Bryn</p>

<h2>Low Level Tech Dets</h2>
<p>  -HTMLbars builds DOM fragments instead of strings;  This allows rapid cloning to generate DOM faster
  -Allows your App to make decisions more intelligently throughout the experience
  -Removed need for "metamorph" tags & script tags altogether</p>

<h2>Value Add</h2>
<p>  -It understands markup inside handlebars templates, unlike it's predecessor
  -Rendering Large Lists is much faster now</p>

<h2>What advantages has HTMLBars provided?</h2>
<h4>  -Cleaner Syntax; No More bind-attr</h4>
<h4>  -Advanced features now possible</h4>
 <h4> -Performance Improvements thanks in part to the ability to conduct Dom Diffing</h4>
<h4>-Atleast 30% faster than handlebars.</h4>
<h4>-Fast DOM cloning; so large lists will be rendered faster.</h4>
<h4>-Binding update order</h4>
<h4>-Structured HTML from server side helps search engine bots.</h4>
<h4>-Reduction in Garbage Collection events.</h4>

<h2>How is it different from Handlebars?</h2>
<h4>-Unlike Handlebars HTMLBars understands your markup</h4>
<h4>-Get rid of metamorph (script tags).</h4>
<h4>-Builds DOM fragments instead of Strings</h4>
<h4>-Logic-less Templates no more </h4>

<h5>Your experience as a developer is now limited less by tangible constraints and more by the extent of your imagination.</h5>

<a href='https://www.youtube.com/watch?v=HY4d-0Kzp68'>HTMLBars Youtube</a>

<a href='http://voidcanvas.com/what-is-htmlbars-and-how-its-better-than-handlebars'>HTMLBars vs Handlebars</a>
