
<div class="parent">
  <div class="child">
    <div class="design1"></div>
    <div class="overlay">
      <h1 class="white">Design</h1>
    </div>
  </div>

  <div class="child">
    <div class="mktg2"></div>
    <div class="overlay">
      <h1 class="white">Marketing</h1>
    </div>
  </div>


  <div class="child">
    <div class="dev2"></div>
    <div class="overlay">
      <h1 class="white">Development</h1>
    </div>
  </div>

  <div class="child">
    <div class="nw2"></div>
    <div class="overlay">
      <h1 class="white">Networking</h1>
    </div>
  </div>

  <div class="child">
    <div class="ss1"></div>
    <div class="overlay">
      <h1 class="white">Site Search</h1>
    </div>
  </div>
  <div class="child">
    <div class="sc1"></div>
    <div class="overlay">
      <h1 class="white">Security Check</h1>
    </div>
  </div>
</div>
 {{liquid-outlet}}
