{{#link-to 'why.reactive-programming' class="hero-container"}}
  <div class="bg2">
    <div data-logo-id="r2" class="overlay">
      <h1>Reactive Programming</h1>
    </div>
  </div>

{{/link-to}}
<h2>Dynamic and Elegant .3 Second Page Transitions.  The Future Web is Here.</h2>
{{liquid-outlet}}
