
  <h1>Contact Us</h1>
  <div class="center-parent-sm">
    <div class="list center-child-full">
      <form action="/__/forms/contact" method="post">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Your Name">
        </label>
        <label class="center-child-full item item-input item-stacked-label">
          <input type="text" placeholder="Company Name">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Email@domain.com">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Phone Number">
        </label>
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="About Your Project">
        </label>
        <button class="button contact-button button-block button-balanced" name="button" type="submit">Submit</button>
      </form>
    </div>

  </div>
  <div class="contact-section-2">
    <h1>Got a Question?  Give us a Call<br><br>
248-369-3360</h1>
<!-- <button class="button button-block button-balanced" name="button" type="submit">Chat Live</button> -->
</div>
<!-- <div class="center-child-full">
</div> -->
